<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>    
  </configSections>
  <appSettings>
    <add key="DocumentDbServiceEndpoint" value="https://documentDbAccount.documents.azure.com:443/" />
    <add key="DocumentDbDatabaseId" value="documentdbdemo" />
    <add key="DocumentDbCollectionId" value="DocumentDbDemoTest" />
    <add key="DocumentDbAuthKey" value="myAuthKey...uJssK7uvo03y32PA41Cp0Kh0YNfasdf4N4zAXXpTfFIfdfghZAEo0Kt==" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>